<div class="item action" data-activity-id="{{id}}">
    <div class="image" data-action="send-to-chat">
        <img src="{{img}}" alt="{{label}}">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="open-description">{{label}}</a>
    </div>
    <div class="controls">
        <a data-action="roll-d20"><i class="fa-solid fa-dice-d20"></i></a>
    </div>
</div>
